<h1>Editing architect</h1>

<% form_for(@architect) do |f| %>
  <%= f.error_messages %>

  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>     
  <%= f.text_field :last_name %>
  
  <%= f.label :description %>
  <%= f.text_area :description %>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @architect %> |
<%= link_to 'Back', architects_path %>
